<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Textutils</title>
</head>
<body>
    <h2>Welcome to text Analyzer . Enter your text below</h2>
     <form action="/analyze" method="GET">
        <textarea name="text" style="margin: 0px; width: 1345px; height: 240px;"></textarea>
        
        <input type="checkbox" name="capitalize">Make Capital<br>
        <input type="checkbox" name="newlineremover"> New Line Remover<br>
        <input type="checkbox" name="extraspaceremover"> Extra Spaces Remover<br>
        <input type="checkbox" name="removepunc">Remove Punctuations<br><br>

        <button type="submit">Analyze Text</button>
     </form>

</body>
</html>

